{% extends 'base.html' %}

{% block subcontent %}

	<div class="panel-group">
		{% if queries %}
		    <div class="panel panel-primary">
		    	<div class="panel-heading"><h1>Queries By {{ session['firstname'] }} {{ session['lastname'] }}</h1></div>
		    	<div class="panel-body">
		      		<table class="table table-hover">
						{% for qeury in queries %}
							<tr>
								<td><h2><a href="/user/view-query/{{ qeury[0] }}/"> {{ qeury[2]}} </a></h2></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		{% else %}
		    <div class="panel panel-danger">
		    	<div class="panel-heading"><h1>You Have Not Written Any Query</h1></div>
		    	<div class="panel-body">
					<h1> <a href="/write-query/" class="btn btn-primary"> Write One Now !!! </a></h1>
				</div>
		{% endif %}
	</div>		

{% endblock %}